<!DOCTYPE html>
<html>
  <body>
    <header>
      <%= render 'partials/header' %>
    </header>
    <h1>Welcome <%= current_user.name %></h1>
    <%= link_to 'Create New Idea!', new_idea_path %>
    <% @ideas.each do |idea| %>
      <ul>
        <li>
          <%= idea.title %>
        </li>
        <li>
        <%= idea.description %>
        </li>
        <%= link_to 'Edit', edit_idea_path(idea) %>
      </ul>
    <% end %>
  </body>
</html>
